<%- include("partials/headers.ejs") %>
    <title>Toluwase-Babalola | Data Scientist</title>
</head>
<body>
 <%- include("partials/second-headers.ejs") %>

 <div styel="text-align:center">
    <article style="margin-top: 20%;">  
        <h2 class="blog-post-title mb-1 format"><%= contentTitle %></h2>
                <p class="blog-post-meta"><%= contentTime %> by <a href="#"  style="color: #8f8f8f;"> <%= contentName%>
                 </a></p><p><%= contentContent %></p>
      </article>
 </div>
 <%- include("partials/footers.ejs") %>