<%- include("partials/headers.ejs") %>
    <title>Toluwase-Babalola | Data Scientist</title>
</head>
<body>
 <%- include("partials/second-headers.ejs") %>
 <section>
    <div class="row container-fluid contactor">
<div class="col-md-12 col-lg-6 col-sm-12 contact-me">
<h2 style="font-family: 800;">Success</h2>
<p class="contact-me-content">
    <%=success%>
  
</p>
<p>Email: toluwasebabalola44@gmail.com</p>
<p>LinkedIn:https://www.linkedin.com/in/toluwasebabalola</p>
<div>
</div>
</div>




<div class="col-md-12 col-lg-6 col-sm-12">

<form action="/contact" method="POST" class="tolu-format">
<div class="together">
    <div>
        <h6><b>First Name</b></h6>
    <input type="text" required class="container-fluid flooder" name="firstname" style="border: 2px solid black;">
    </div>
    <div>
        <h6><b>Last Name</b></h6>
    <input type="text" required class="container-fluid flooder floyd" name="lastname" style="border: 2px solid black">
    </div>
    </div>
<div>
    <h6><b>Email</b></h6>
<input type="text" required class="container-fluid flood" name="email" style="border: 2px solid black;">
</div>

<div>
    <h6><b>Phone Number</b></h6>
<input type="tel" required class="container-fluid flood" name="phone" style="border: 2px solid black">
</div>
<div>
    <h6><b>Address</b></h6>
<input type="text" required class="container-fluid flood" name="address" style="border: 2px solid black">
</div>
<div>
    <button class="btn btn-dark btn" type="submit" style="margin-top: 2%;" onclick="player()">SUBMIT</button>
    <span style="margin-left: 7%;">
        <%= dater %></span>
</div>

</form>
</div>

 </section>
 <script src="/index.js">
</script>


 <%- include("partials/second-footer.ejs") %>
